/*
Created on : 08-Feb-2019, 18:17:45
Author     : erickipkemoi
Additional referenced styling
Ref: https://www.w3schools.com/howto/howto_css_login_form.asp - Login forms
   : https://www.w3schools.com/howto/howto_css_signup_form.asp - Registration forms
   : https://www.w3schools.com/cssref/css3_pr_mediaquery.asp - Layout Responsive styling
   : Outsourced free images
References code have been edited to fit the systems functionality.
W3S - Login and Registration forms and processes, Responsive web deisigns image file upload, grid view and
box sizing properties. Web styling.
StackOverflow - Google maps API implementation, Login and registration implementation, Apache server 
web programming implementation.
YouTube tutorials - server user login and registration with sessions, image database uploads, Google Maps
geocoding and implementation, database storage implementation using php and mysql, embedded web javascript
Links to the reference criteria available in the project report

*/

/*general styling*/
* {
	box-sizing: border-box
}
/*container for columns*/
.row{
	display: flex;
	flex-wrap: wrap;
}
/*row styling*/
.rowClr{
   background-color: gainsboro;
}
/*columns contained in rows*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*horizontal line styling*/
hr.new1{
    border: solid gainsboro 1px;
    margin: 5px;
}
/*IMAGE BOX*/
.imagebox{
    border: solid #ccc 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/*users image placeholder*/
.backGroundImage{
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
        
}
/*location icon for farms page*/
.locIcon{
    height: 30px;
    width: 50px;
    background-image: url(../images/loc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
/*mail icon form farm card: farms.php*/
.mailIcon{
    height: 30px;
    width: 50px;
    background-image: url(../images/mail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
/*map view styling*/
#mapView{
    height: 400px;
    width: 100%;
    border: solid gray 2px;
    border-radius: 2px;
}
.padd{
    padding: 14px 20px;
}
.marg{
    margin: 8px 0px;
}
/*user gallery view*/
.imgGalleryBox{
    padding: 0 6px;
    float: left;
    width: 20%;
    height: 200px;
    margin: 5px;
}

/*Main body styling*/
body{
	font-family: Arial;
	margin: 0;
}

/*Index page styling
main window slideshow: static image display*/
.slideshow{
	height: 500px;
	background-image: url(../images/cornFieldProject.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.slideshowBrd{
    border-bottom: solid #333 5px;
}
/*image box for companies*/
.imagebox1{
    height: 200px;
    background-image: url(../images/servicesImageBox.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*image box for farms*/
.imagebox2{
    height: 200px;
    background-image: url(../images/farmImageBox.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*image box for forum*/
.imagebox3{
    height: 200px;
    background-image: url(../images/forumImageBox.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*styling for content boxes*/
.boxSpc{
    border: solid gainsboro 1px;
    border-radius: 2px;
}
.boxBrd{
    border: solid gainsboro 1px;
}
.boxTxt{
    display: grid;
    text-align: center;
}
.boxTxt a{
    text-decoration: none;
    color: gray;
}
.boxTxt p{
    margin-top: 50px;
    color: #333;
}
/*Sessions box to hold the sign-in and username*/
.sessionBox{
    display: inline-flex;
    text-align: center;
    background-color: #333;
    padding: 14px 20px;
}
.sessionBox a{
    text-decoration: none;
    color: white;
}
.sessionBox:hover{
    background-color: #ddd;
}
/*main optional window sign-in display*/
.navbarIndexMenu{
	display: inline-flex;
	margin-top: 5px;
        margin-right: 10px;
	background-color: #333;
	border-radius: 2px;
	float: right;
}
.navbarIndexMenu a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}
.navbarIndexMenu a:hover{
    background-color: #ddd;
    border-radius: 2px;
    color: black;
}

/*Styling for window views
main window navigantion bar content holder*/
.navbar{
	display: flex;
	background-color: #333;
        
       
}

.navbar a{
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover{
	background-color: #ddd;
	color: black;
}

/*Login and Registration Form Styling*/
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: solid #ccc 1px;
}
button.signInBtn{
    background-color: #333;
    padding: 10px 20px;
    color: white;
    border: none;
}
button.signInBtn:hover{
    background-color: #ddd;
    color: black;
}
button.loginBtn{
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    
}
button.loginBtn:hover{
    opacity: 0.8;
}
span.passWd{
    float: right;
    padding-top: 16px;
}

/*login modal form styling*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: solid #888 1px;
    width: 50%;
}
/*zoom animantion modal stylings*/
.animate{
    animation: animatezoom 0.6s
}
@keyframes animatezoom{
    from{transform:scale(0)}
    to{transform:scale(1)}
}
/*container form login modal form*/
.containerLgn{
    padding: 16px;
}

/*styling for content placeholder*/
.content{
	flex: 80%;
	background-color: white;
        margin-right: 10%;
        margin-left: 10%;
	/*padding*/
}
.contentBrd{
    border-left: solid gainsboro 1px;
    border-right: solid gainsboro 1px;
}

/*footer styling*/
.footer{
	padding: 10px;
	text-align: center;
	background: gray;
       
}

/*loggedin dropdown styling*/
.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown .dropdownBtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fefefe;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdownBtn{
    background-color: #ddd;
}

/*Responsive layout allows columns to stack
ontop of ewach othe when the crenn size reduces*/
@media only screen and (max-device-width: 400px){
	.row, .navbar{
		flex-direction: column;
	}
        span.psw{
            display: block;
            float: none;
        }
}